<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} - Super Nintendo Online</title>
        
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/960.css" />
        <link rel="stylesheet" href="css/syntax.css" />
        
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="css/sno.css" />
        
        <script src="scripts/html5.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="container_12">
                <header class="grid_12">
                    <div id="logo">
                        <a href="http://osmose.github.com/sno">
                            <img src="images/shortlogo.png" />
                        </a>
                    </div>
                </header>
                <div class="clear"></div>
                
                <aside class="grid_3">
                    <ul class="sidenav">
                        <li class="category">About</li>
                        <ul class="links">
                            <li><a href="index.html"><img src="images/icons/16/house.png" /> Home</a></li>
                            <li><a href="what_is_sno.html"><img src="images/icons/16/help.png" /> What is SNO?</a></li>
                            <li><a href="how_to_play.html"><img src="images/icons/16/controller.png" /> How to Play</a></li>
                            <li><a href="configuration.html"><img src="images/icons/16/cog.png" /> Configuration</a></li>
                        </ul>
                    </ul>
                    <ul class="sidenav">
                        <li class="category">Embed / Develop</li>
                        <ul class="links">
                            <li><a href="embedding.html"><img src="images/icons/16/brick.png" /> Embedding SNO</a></li>
                            <li><a href="getting_sno.html"><img src="images/icons/16/box_down.png" /> Getting SNO</a></li>
                            <li><a href="http://www.github.com/osmose/sno"><img src="images/icons/16/github.png" /> Github Page</a></li>
                        </ul>
                    </ul>
                    <ul class="sidenav">
                        <li class="category">Miscellaneous</li>
                        <ul class="links">
                            <li><a href="senior_design.html"><img src="images/icons/16/education.png" /> Senior Design</a></li>
                        </ul>
                    </ul>
                </aside>
                
                <section class="grid_9">
                    <article {% if page.wide %}class="wide"{% endif %}>
                        {{ content }}
                    </article>
                </section>
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer">
            <footer>
                <div class="links">
                    <a href="http://osmose.github.com/sno">Home</a>
                    |
                    <a href="http://www.github.com/osmose/sno">Github Repo</a>
                    |
                    <a href="http://cs.fit.edu">Florida Tech CS</a>
                </div>
                <ul class="attrib">
                    <li><a href="http://www.fatcow.com/free-icons">Icons by Fatcow</a></li>
                    <li><a href="http://browse.deviantart.com/?qh=&section=&q=snes+controller#/d2km8bf">SNES Controller by ~The-Penciler</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>